<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo List App</title>

	<link rel="stylesheet" href="/asserts/master.css" type="text/css" />
    <script src="https://use.fontawesome.com/2d1c7583b1.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>-->
    <script src="/asserts/jquery-2.2.2.min.js"></script>
    <script src="/asserts/todo-list.js"></script>
	  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <header>
        <h1>Todo List App</h1>
    </header>

    <div id="todo-table">
        <form action="">
            
            <input id="todoItem" type="text" name="item" placeholder="Add new item..." required />
            <button id="btnSubmit" type="submit"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></button>
        </form>

        <ul>
            <% for(var i = 0; i < todos.length; i++){ %>
                <span><i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i><li><%= todos[i].item %> <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></li></span>
            <% } %>
        </ul>
    </div>
</body>
</html>